{
    "plugins": [
        ["@babel/plugin-transform-runtime",
            {
                "regenerator": true
            }
        ]
    ],
    "presets": [
        "@babel/env",
        "@babel/react"
    ]
}